<div class="panel-body">
    <div class="panel panel-default row">
        <div class=" panel-heading"><b>账户管理</b></div>
        <div class="panel-body">
            <div class="col-xs-12">
                <div class=" panel panel-body  border">
                    <form name="datepickerForm" class="form-inline" role="form">
                        <div class="form-group col-xs-11">
                            <label class="col-xs-4">角色
                                <select class="form-control" ng-model="vm.rid">
                                    <option ng-repeat="role in vm.roleList" ng-value="role.type"
                                            ng-selected="">{{role.name}}</option>
                                </select>
                            </label>
                        </div>
                        <button class="btn btn-primary pull-right col-xs-1" ng-click="vm.search()">搜索</button>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        用户列表
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary btn-xs" ui-sref="main.managerDetail">
                                <i class="fa fa-plus-square fa-fw"></i>新增用户
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>角色</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="li in vm.list track by $index">
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-center">{{li.username}}</td>
                                <td class="text-center">{{li.role | userTypeFilter}}</td>
                                <td class="text-center">
                                    <button class="btn btn-default btn-xs" ui-sref="main.managerDetail({id:li._id})">编辑</button>
                                    <button class="btn btn-danger btn-xs" ng-click="vm.delete(li._id)">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--<paging ng-if="vm.page" next="{{vm.page}}"></paging>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>