<div class="row pd-top-2">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                角色列表
                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-xs" ui-sref="main.roleDetail">
                        <i class="fa fa-plus-square fa-fw"></i>新增角色
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">角色</th>
                        <th class="text-center">操作</th>
                    </tr>
                    <tr ng-repeat="li in vm.list track by $index">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">{{li.roleName}}</td>
                        <td class="text-center">
                            <button class="btn btn-default btn-xs" ui-sref="main.roleDetail({id: li._id})">编辑</button>
                            <button class="btn btn-danger btn-xs" ng-click="vm.roleDelete(li._id)">删除</button>
                        </td>
                    </tr>
                </table>
                <!--<paging ng-if="vm.page" next="{{vm.page}}"></paging>-->
            </div>
        </div>
    </div>
</div>